        {% if 'password' not in fields.hidden %}             
        <div class="col-sm-6">  
            <div class="form-group">
                <label>Password</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input type="password" class="form-control" name="password" autocomplete="off" value="" placeholder="8-50 characters">
                </div>
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input type="password" class="form-control" name="passwordc" autocomplete="off" value="" placeholder="Confirm password">
                </div>
            </div>
        </div>
        {% endif %}
        

    
    