{% extends "layouts/basic.html.twig" %}

{% block stylesheets_page_group %}
    <!-- Page-group-specific CSS asset bundle -->
    {{ assets.css('css/guest') | raw }}
{% endblock %}

{% block body_attributes %}
    id="page-top" data-target=".navbar-fixed-top"
{% endblock %}

{% block content %}
    {% include "components/default/main-nav.html.twig" %}

    {% block header %}{% endblock %}

    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        {% block page_heading %}
            {% include "components/default/page-heading.html.twig" with {page_title: block('page_title'), page_description: block('page_description')}  %}
        {% endblock %}
        {% block body_matter %}{% endblock %}
    </div>
{% endblock %}

