{# This is the layout template for error pages.  Note that there is no navigation bar. #}
{% extends "layouts/basic.html.twig" %}

{% block body %}
<body id="page-top" class="index">  
    
    <!-- Main content of page -->
    <div id="content">
        {% block content %}
            <div class="container">
                <div class="text-center">
                    <h1>
                        {% block heading %}
                            Uhhh...something happened.  We don't know what.
                        {% endblock %}
                    </h1>
                        
                    <br><br>
                    <p class="lead">Here's what we got:</p>
                </div>
                
                {% for message in messages %}
                    <div class="alert alert-danger">{{ translate(message.message, message.parameters) }}</div> 
                {% endfor %}
                
                <p class="lead">Click <a href="{{site.uri.public}}">here</a> to return to the front page.</p>
            </div> <!-- /container -->
        {% endblock %}
    </div>
    
    {% include "components/footer.html.twig" %}

</body>
{% endblock %}
