{# This is the layout template for error pages.  Note that there is no navigation bar. #}
{% extends "layouts/basic.html.twig" %}

{% block body %}
<body id="page-top" class="index">

    <!-- Main content of page -->
    <div id="content">
        {% block content %}
            <div class="container">
                <div class="text-center">
                    <h1>
                        {% block heading %}
                            {{ translate('ERROR.ENCOUNTERED') }}
                        {% endblock %}
                    </h1>

                    <br><br>
                    <p class="lead">{{ translate('ERROR.DETAIL') }}</p>
                </div>

                {% for message in messages %}
                    <div class="alert alert-danger">{{ translate(message.message, message.parameters) }}</div>
                {% endfor %}

                <p class="lead">{{ translate('ERROR.RETURN', {url : site.uri.public})|raw }}</p>
            </div> <!-- /container -->
        {% endblock %}
    </div>

    {% include "components/footer.html.twig" %}

</body>
{% endblock %}
