div.modal-panel {
	font-family:'trebuchet ms', verdana, arial;
	font-size: 10pt;
}

div.modal-panel div.modal-column-left {
	float: left;
	width: 40%;
	padding: 1em;
}

div.modal-panel div.modal-column-right {
	float: left;
	width: 40%;
	padding: 1em;
}

div.modal-panel div.modal-column-center {
	margin:0 auto;
	width: 80%;
	padding: 1em;
}


.ui-dialog  .ui-dialog-titlebar{
	background-color: #99bfe6;
}

.ui-dialog .ui-dialog-content {
	font-size: 10pt;
}

.ui-datepicker {
	font-size: 10pt;
}

.ui-datepicker .ui-datepicker-header { 
	background-color: #99bfe6;
}

div.time-picker {
	font-family:'trebuchet ms', verdana, arial
}

/* Classes for the section selector */

#select_section_id_menu {
	overflow: auto;
	height: 300px;
}

#select_section_id_menu .submenu {
	overflow: auto;
	height: 70px;
	width: 200px;
}

.trend-chart .jqplot-point-label {
	font-size: 30pt;
}


body,div,h1{font-family:'trebuchet ms', verdana, arial}

div.header1 {
	font-family:arial;
	font-weight: bold;
	font-size: 36pt;
	text-align: center;
}

div.header2 {
	font-family:arial;
	font-size: 30pt;
	text-align: center;
}

/* Summary tables */
table.sum, table.sum td {
	font-family:arial;
	font-size: 18pt;
	text-align: right;
	border: 1px solid black;
	padding: 10px;
	border-collapse:collapse;
}

table.sum thead {
		font-weight: bold;
}

table.sum td.total {
		font-weight: bold;
}

table.payroll, table.payroll td {
	font-family:arial;
	font-size: 14pt;
	text-align: right;
	border: 1px solid black;
	padding: 10px;
	border-collapse:collapse;
}
table.payroll thead {
		font-weight: bold;
}

table.payroll td.total {
		font-weight: bold;
}

/* Counters */

.counter-wrapper {
	clear: both;
}

.counter, .counter-light {
	margin: 10px 20px 10px 0px;
	float: left;
	border: 0;
	border-radius: 15px;
	width: 100px;
	height: 100px;
	color: #FFFFFF;
	background: #3f3f3f;
	vertical-align: middle;
	text-align: center;
}

.counter-light {
	background: #707070;
}

.counter .number, .counter-light .number {
	font-size: 400%;
}


.counter .caption, .counter-light .caption {
	
}

.empty-table {
	font-size: 100%;
	line-height: 200%;
	color: #707070;
}


/* Rendering of labels for input fields */
div.fieldlabel {
	font-family:arial;
	font-size: 10pt;
	font-style: italic;
	color: #3d3d3d;
}

table.mini {
	width: 70%;
	text-align: center;
}
