{% block dashboard_navbar %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          {% include "components/user-card.html.twig" %}
        </ul>
    </div>
{% endblock %}