<!-- Sidebar user panel -->
<div class="user-panel">
  <div class="pull-left image">
    <img src="{{ current_user.avatar }}" class="img-circle" alt="User Image">
  </div>
  <div class="pull-left info">
    <p>{{current_user.user_name}}</p>
    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>