parameters:
  level: 8
  paths:
    - app/src/
    - app/tests/
  ignoreErrors:
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-mockery/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon