<form class="js-form" method="PUT" action="{{site.uri.public}}/api/users/u/{{user.user_name}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
		{% include "forms/partials/user-set-password.html.twig" %}
    </div>
	<br>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{translate('SUBMIT')}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate('CANCEL')}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
    {% include "pages/partials/page.js.twig" %}
</script>
