<footer>
  <div class="container">
    <div class="row">
        <div class="col-sm-6 text-center">
            &copy; <a href="{{site.uri.public}}">{{site.site_title}}</a>, {{ "now"|date("Y") }}
        </div>
        <div class="col-sm-6 text-center">
            Built with <a href="http://www.userfrosting.com">UserFrosting</a>.
        </div>        
    </div>
  </div>
</footer>
<script src="{{site.uri.js}}config.js" ></script>
{% for item in includeJSBottom(page_group|default("common")) %}
  <script src="{{item}}" ></script>
{% endfor %}
