<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.description}}">
    <meta name="author" content="{{userfrosting.author}}">
    
    <title>{{userfrosting.site_title}} | {{page.title}}</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{userfrosting.uri.favicon}}" />
    
    {% for item in page.schema.css %}
      <link rel="stylesheet" href="{{userfrosting.uri.css}}{{item}}" type="text/css" >
    {% endfor %}   
</head>
