<footer>
    <div class="container">
      <div class="row">
          <div class="col-sm-6 text-center">
              &copy; <a href="{{site.uri.public}}">{{site.title}}</a>, {{ "now"|date("Y") }}
          </div>
          <div class="col-sm-6 text-center">
              Built with <a href="http://www.userfrosting.com">UserFrosting</a>.
          </div>        
      </div>
    </div>
</footer>
