@font-face {
	font-family: 'starcraft';
	src:url('fonts/font-starcraft.eot?h9vi58');
	src:url('fonts/font-starcraft.eot?#iefixh9vi58') format('embedded-opentype'),
		url('fonts/font-starcraft.woff?h9vi58') format('woff'),
		url('fonts/font-starcraft.ttf?h9vi58') format('truetype'),
		url('fonts/font-starcraft.svg?h9vi58#starcraft') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sc-"], [class*=" sc-"] {
	font-family: 'starcraft';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sc-terran:before {
	content: "\e609";
}
.sc-marine:before {
	content: "\e600";
}
.sc-goliath:before {
	content: "\e605";
}
.sc-siege-tank:before {
	content: "\e604";
}
.sc-zerg:before {
	content: "\e60a";
}
.sc-zergling:before {
	content: "\e602";
}
.sc-hydralisk:before {
	content: "\e603";
}
.sc-ultralisk:before {
	content: "\e601";
}
.sc-protoss:before {
	content: "\e60b";
}
.sc-zealot:before {
	content: "\e606";
}
.sc-dragoon:before {
	content: "\e607";
}
.sc-reaver:before {
	content: "\e608";
}
