<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {% block navbar_logo %}<a href="{{site.uri.public}}" class="navbar-brand">{{site.title}}</a>{% endblock %}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <ul class="nav navbar-nav">
        {% block main_nav %}
            <li>
                <a href="{{site.uri.public}}/about">{{translate("ABOUT")}}</a>
            </li>
        {% endblock %}
      </ul>
    </div>

    <!-- /.navbar-collapse -->
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        {% block secondary_nav %}{% endblock %}
      </ul>
    </div>
    <!-- /.navbar-custom-menu -->
  </div>
  <!-- /.container-fluid -->
</nav>