
<div class="table-responsive">
    {% block table %}
    {% endblock %}
    <div class="pager pager-lg tablesorter-pager js-table-pager-users">
        <span class='pager-control first' title='First page'><i class='fa fa-angle-double-left'></i></span>
        <span class='pager-control prev' title='Previous page'><i class='fa fa-angle-left'></i></span>
        <span class='pagedisplay'></span> <!-- this can be any element, including an input -->
        <span class='pager-control next' title='Next page'><i class='fa fa-angle-right'></i></span>
        <span class='pager-control last' title= 'Last page'><i class='fa fa-angle-double-right'></i></span>
        <br><br>
        Jump to Page: <select class='gotoPage'></select> &bull; Show:
        <select class='pagesize'>
        {% for count in pager.take|default([5, 10, 50, 100]) %}
            <option value="{{count}}">{{count}}</option>
        {% endfor %}
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    {% block button_create %}
    {% endblock %}
    </div>
</div>
