{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "user" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Users | " ~ target_user.user_name,
        "description" : "User information page for " ~ target_user.user_name
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            {% include 'components/common/user-info-panel.twig' %}
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
{% endblock %}
{% block page_scripts %}
    <script>
    
    $(document).ready(function (){
        var box_id = "view-user";
        var user_id = {{target_user.id}};
        
        // Initialize select2's
        $('#' + box_id + ' .select2').select2("destroy");
        $('#' + box_id + ' .select2').select2();  
    
    	// Initialize bootstrap switches for user groups
		var switches = $('#' + box_id + ' .bootstrapswitch');
		switches.data('on-label', '<i class="fa fa-check"></i>');
		switches.data('off-label', '<i class="fa fa-times"></i>');
		switches.bootstrapSwitch('setSizeClass', 'switch-mini' );

		// Initialize primary group buttons
		$(".bootstrapradio").bootstrapradio();
    });
    </script>
{% endblock %}
