{% extends "layouts/layout-dashboard.twig" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Zerg",
        "description" : "Dedicated to the pursuit of genetic perfection, the zerg relentlessly hunt down and assimilate advanced species across the galaxy, incorporating useful genetic code into their own."
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Yerrrrraaaaaaayyyyyyy</h1>
            <p>Just an example test page.</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <i class="sc sc-zergling fa fa-5x"></i>
    <i class="sc sc-zergling fa fa-4x"></i>
    <i class="sc sc-zergling fa fa-3x"></i>
    <i class="sc sc-zergling fa fa-2x"></i>
    <i class="sc sc-zergling fa fa-lg"></i>
    <i class="sc sc-zergling fa"></i>
    <br>
    <i class="sc sc-hydralisk fa fa-5x"></i>
    <i class="sc sc-hydralisk fa fa-4x"></i>
    <i class="sc sc-hydralisk fa fa-3x"></i>
    <i class="sc sc-hydralisk fa fa-2x"></i>
    <i class="sc sc-hydralisk fa fa-lg"></i>
    <i class="sc sc-hydralisk fa"></i>            
    <br>
    <i class="sc sc-ultralisk fa fa-5x"></i>
    <i class="sc sc-ultralisk fa fa-4x"></i>
    <i class="sc sc-ultralisk fa fa-3x"></i>
    <i class="sc sc-ultralisk fa fa-2x"></i>
    <i class="sc sc-ultralisk fa fa-lg"></i>
    <i class="sc sc-ultralisk fa"></i>
{% endblock %}
