<!DOCTYPE html>
<html lang="en">
  {% include 'common/components/head.html' %}
  <body>
    <div class="container text-center">
        <h1>Your server doesn't seem to be configured properly.</h1>
        <img src="{{site.uri.image}}eniac.png">
        <br><br>
        <p class="lead">Specifically, it looks like you are using Apache but don't have the <code>mod_rewrite</code> module enabled.  Please see the <a href="http://www.userfrosting.com/troubleshooting/#blank-page">troubleshooting guide</a> to get this sorted out.</p>
    </div> <!-- /container -->
    {% include 'common/components/footer.html' %}	
  </body>
</html>
