{% set page_group = "loggedout" %}
<!DOCTYPE html>
<html lang="en">
  {% include 'common/components/head.html' %}
  <body>
    <div class="container">
        {% include 'common/components/main-nav.html' %}
      <div class="jumbotron">
        <h1>Welcome to {{site.site_title}}!</h1>
        <p class="lead">A secure, modern user management system based on the Slim Framework and the Twig templating engine.</p>
        {% include 'common/components/alerts.html' %}
        <div class="row">
            <div class="col-sm-12">
              <a href="{{site.uri.public}}/account/login" class="btn btn-success" role="button" value="Login">Login</a>
            </div>
        </div>
        {% include 'common/components/jumbotron-links.html' %}	
      </div>	
    </div> <!-- /container -->
    {% include 'common/components/footer.html' %}	
  </body>
</html>
