{% set page_group = "loggedout" %}
<!DOCTYPE html>
<html lang="en">
  {% include 'common/components/head.html' %}
  <body>
    <div class="container">
        {% include 'common/components/main-nav.html' %}
      <div class="jumbotron">
        <h1>Welcome to UserFrosting!</h1>
        <p class="lead">Please sign in.</p>
        {% include 'common/components/alerts.html' %}
        <form name="login" method="post" action="{{site.uri.public}}/account/login" class="form-horizontal">
            {% include 'common/components/csrf.html' %}
            <div class="row">
              <div class="col-md-offset-3 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control " name="user_name" autocomplete="off" value="" placeholder="{{ (site.email_login == 1) ? 'Username or Email' : 'Username' }}"   >
                    </div>
              </div>
              <div class="col-md-offset-3 col-md-6">
                <div class="form-group">
                    <input type="password" class="form-control " name="password" autocomplete="off" value="" placeholder="Password"   >
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-success"  data-loading-text="Please wait..." >
                    Login
                </button>
              </div>
            </div>
        </form>
        {% include 'common/components/jumbotron-links.html' %}	
      </div>	
    </div> <!-- /container -->
    {% include 'common/components/footer.html' %}	
    <script>
        $(document).ready(function() {            
          // Process form 
          $("form[name='login']").formValidation({
            framework: 'bootstrap',
            // Feedback icons
            icon: {
                valid: 'fa fa-check',
                invalid: 'fa fa-times',
                validating: 'fa fa-refresh'
            },
            fields: {{validators | raw}}
          }).on('success.form.fv', function(e) {
            // Prevent double form submission
            e.preventDefault();

            // Get the form instance
            var form = $(e.target);

            // Serialize and post to the backend script in ajax mode
            var serializedData = form.serialize();
            var url = form.attr('action');
            $.ajax({  
              type: "POST",  
              url: url,  
              data: serializedData       
            }).done(function(data, statusText, jqXHR) {
                // Forward to account home page on success
                window.location.replace(site.uri.public);
            }).fail(function(jqXHR) {
                if ((typeof site !== "undefined") && site['debug'] == true) {
                    document.body.innerHTML = jqXHR.responseText;
                } else {
                    console.log("Error (" + jqXHR.status + "): " + jqXHR.responseText );
                    // Display errors on failure
                    $('#userfrosting-alerts').flashAlerts().done(function() {
                        // Re-enable submit button
                        form.data('formValidation').disableSubmitButtons(false);
                    });
                }
            });
          });
        });        
    </script>
  </body>
</html>
