{% set page_group = "loggedout" %}
<!DOCTYPE html>
<html lang="en">
  {% include 'common/components/head.html' %}
  <body>
    <div class="container">
      {% include 'common/components/main-nav.html' %}
      <div class="jumbotron">
        <h1>Reset Password</h1>
        <p class="lead">
            Please enter your username and your new password to continue.
        </p>
        {% include 'common/components/alerts.html' %}
        <form class="form-horizontal" role="form" name="reset_password" action="{{site.uri.public}}/account/reset-password" method="post">
            {% include 'common/components/csrf.html' %}
            <div class="form-group">
                <label for="input_user_name" class="control-label col-sm-4">Username</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-edit"></i></span>                    
                        <input id="input_username" type="text" class="form-control" placeholder="Username" name="user_name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="input_password" class="control-label col-sm-4">New Password</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>                    
                        <input id="input_password" type="password" class="form-control" placeholder="8-50 characters" name="password">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="input_passwordc" class="control-label col-sm-4">Confirm New Password</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>                
                        <input id="input_passwordc" type="password" class="form-control" placeholder="Re-enter your new password" name="passwordc">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" class="form-control" name="activation_token" value="{{activation_token}}">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Submit New Password</button>
            </div>
        </form>
      </div>	
    </div> <!-- /container -->
    {% include 'common/components/footer.html' %}	

<script>
    $(document).ready(function() {          
        // Process form 
        $("form[name='reset_password']").formValidation({
          framework: 'bootstrap',
          // Feedback icons
          icon: {
              valid: 'fa fa-check',
              invalid: 'fa fa-times',
              validating: 'fa fa-refresh'
          },
          fields: {{validators | raw}}
        }).on('success.form.fv', function(e) {
          // Prevent double form submission
          e.preventDefault();

          // Get the form instance
          var form = $(e.target);

          // Serialize and post to the backend script in ajax mode
          var serializedData = form.serialize();
          var url = form.attr('action');
          $.ajax({  
            type: "POST",  
            url: url,  
            data: serializedData       
          }).done(function(data, statusText, jqXHR) {
              // Forward to account home page on success
              window.location.replace(site.uri.public);
          }).fail(function(jqXHR) {
              if ((typeof site !== "undefined") && site['debug'] == true) {
                  document.body.innerHTML = jqXHR.responseText;
              } else {
                  console.log("Error (" + jqXHR.status + "): " + jqXHR.responseText );
                  // Display errors on failure
                  $('#userfrosting-alerts').flashAlerts().done(function() {
                      // Re-enable submit button
                      form.data('formValidation').disableSubmitButtons(false);
                  });
              }
          });
        });
    });   
</script>
</body>
</html>