<header role="banner" class="navbar navbar-default navbar-fixed-top top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="{{ site.baseurl }}" class="navbar-brand">{{ site.title }}</a>
    </div>
    <nav id="collapse" role="navigation" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown dropdown-primary">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='fa fa-download'></i> Get UserFrosting <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/alexweissman/UserFrosting/"><i class='fa fa-github'></i> View on Github</a></li>
            <li class="divider"></li>              
            <li><a href="https://github.com/alexweissman/UserFrosting/zipball/master"><i class='fa fa-file-archive-o'></i> Download as a .zip file</a></li>
            <li><a href="https://github.com/alexweissman/UserFrosting/tarball/master"><i class='fa fa-file-archive-o'></i> Download as a tar.gz file</a></li>
          </ul>
        </li>
        <li><a href="http://opensourcecoin.org/aweissman/">Demo</a></li>
        <li><a href="examples.html">Examples</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="about.html">About</a></li>
            <li><a href="components.html">Components</a></li>
            <li><a href="features.html">Main Features</a></li>
            <li><a href="security.html">Security Features</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
          <ul class="dropdown-menu">        
            <li><a href="backend-api.html">Backend AJAX API</a></li>
            <li><a href="forms-api.html">Forms API</a></li>
          </ul>
        </li>
        <li><a href="contributors.html">Contributors</a></li>
        </ul>
      <ul class="nav navbar-nav navbar-right">  
        <li style="padding-top: 10px;"><iframe src="http://ghbtns.com/github-btn.html?user=alexweissman&repo=userfrosting&type=watch&count=true&size=large" frameborder="0" scrolling="0" width="144" height="30"></iframe></li>
      </ul>
      
    </nav>
  </div>
</header> 
