{% macro generate(input) %}
    {% if input.icon %}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa {{input.icon}} fa-fw"></i></span>
    {% else %}
    <div class="form-group">
    {% endif %}
        <input{% for type,value in input %} {{type}}="{{value}}"{% endfor %}></input>
    </div>
{% endmacro %}
