{% extends "pages/abstract/error.html.twig" %}

{% block page_title %}{{ translate('ERROR.400.TITLE') }}{% endblock %}

{% block page_description %}{{ translate('ERROR.400.DESCRIPTION') }}{% endblock %}

{% block headline %}<h2 class="headline text-yellow">400</h2>{% endblock %}

{% block heading %}<i class="fa fa-warning text-yellow"></i> {{ translate('ERROR.400.TITLE') }}{% endblock %}
