{% extends "layouts/error.html.twig" %}

{% block page_title %}Error 404: Page not found{% endblock %}

{% block page_description %}We can't seem to find what you're looking for.{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>We tried to find your page...</h1>
        <img src="{{ assets.url('assets://images/404.png') }}">
        <br><br>
        <p class="lead">Either way, click <a href="{{site.uri.public}}">here</a> to return to the front page.</p>
    </div> <!-- /container -->
{% endblock %}
