.uf-alert
{
    margin: 10px 0px 0px 0px;
}

/* Invert margin when inside a modal-body */
.modal-body .uf-alert
{
    margin: 0px 0px 10px 0px;
}

.uf-alert .icon {
    line-height: 20px;
}

.uf-alert-message-container {
    margin-left: 30px;
    line-height: 20px;
}

.uf-alert-message-container > ul {
    margin-left: -20px;
}