/**
 * Custom CSS for the ufCollection widget.
 */

.uf-collection .col-button {
  padding-top: 2px;  
}

.uf-collection .col-button-offset {
    margin-left: 4px;
    float:left;
    width: calc( 100% - 50px );
    margin-bottom: 12px;
}

.uf-collection span.select2-dropdown.select2-dropdown--below {
    position:absolute;
    top: -32px;
}
