/* Use to collapse empty button columns */

.hideable {
    min-height: 0px;
}

/* Custom styles for bootstrap-switch labels */
label.label-switch {
    margin-top: 5px;
}

form textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}

/* Special wrapper for alerts on public form pages (sign-in, register, etc) */
.form-alerts {
    margin-bottom: 10px !important;
}

/* Styling for AdminLTE form control icons, that doesn't interfere with validation plugin */
.form-control-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.input-lg ~ .form-control-icon,
.input-group-lg ~ .form-control-icon,
.form-group-lg .form-control ~ .form-control-icon {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm ~ .form-control-icon,
.input-group-sm ~ .form-control-icon,
.form-group-sm .form-control ~ .form-control-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .form-inline .has-feedback .form-control-icon,
  .navbar-form .has-feedback .form-control-icon {
    top: 0;
  }
}

.form-horizontal .has-feedback .form-control-icon {
  right: 15px;
}

/* Fix for select2 not resizing properly when the page is resized */
.select2-container--default {
    display: block;
    width: 100% !important;
}