{% extends "@admin/components/dashboard/navbar.html.twig" %}

{% block dashboard_navbar_extra %}
  <li class="hidden-xs hidden-sm"><a href="#">{{ translate("HEADER_MESSAGE_ROOT") | upper }}</a></li>
{% endblock %}
