# Sample UserFrosting environment variables definition file.
# Note that in production, it is strongly recommended that you set these variables directly in your environment instead.

UF_MODE=""
DB_DRIVER="mysql"
DB_HOST="localhost"  # Some developer environments, like some MAMP installations, require you to instead set DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="userfrosting"
DB_USER="userfrosting"
DB_PASSWORD="password"
SMTP_HOST="host.example.com"
SMTP_USER="relay@example.com"
SMTP_PASSWORD="password"
