# this is a comment

UF_MODE=""
DB_DRIVER="mysql"
DB_HOST="localhost"  #some developer enviorments, like some MAMP installations, require you to instead set DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="userfrosting"
DB_USER="userfrosting"
DB_PASSWORD="password"
SMTP_HOST="host.example.com"
SMTP_USER="relay@example.com"
SMTP_PASSWORD="password"
