{% extends "layouts/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}Users{% endblock %}

{% block page_description %}A listing of the users for your site.  Provides management tools including the ability to edit user details, manually activate users, enable/disable users, and more.{% endblock %}

{% block body_matter %}
    <div id="alerts-users">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="widget-users" class="panel panel-primary">
                <div class="panel-heading panel-heading-buttons clearfix">
                    <h3 class="panel-title pull-left"><i class="fa fa-users"></i> Users</h3>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default js-download-table">Download CSV</button>
                    </div>
                </div>
                <div class="panel-body">
                    {% include "components/tables/users.html.twig" with {
                            "table" : {
                                "id" : "table-users",
                                "columns" : ["last_activity"]
                            }
                        }
                    %}
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-success js-user-create" data-toggle="modal" data-target="#dialog-user-create">
                                <i class="fa fa-plus-square"></i>  Create New User
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "components/page.js.twig" %}
    </script>

    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/pages/users') | raw }}

{% endblock %}
