{% extends "layouts/sb-admin-2.html.twig" %}

{% block stylesheets_page %}      
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}Users{% endblock %}

{% block page_description %}A listing of the users for your site.  Provides management tools including the ability to edit user details, manually activate users, enable/disable users, and more.{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading panel-heading-buttons clearfix">
                    <h3 class="panel-title pull-left"><i class="fa fa-users"></i> Users</h3>
                    <div class="pull-right">
                        <button id="table-users-download" class="btn btn-sm btn-default">Download CSV</button>
                    </div>
                </div>
                <div class="panel-body">
                    {% include "components/tables/users.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_scripts %}
        <!-- Include JS snippets -->
        {% include 'components/common/js-snippets/user-table-columns.twig' %}
        
        <script>
            // These options get set by Twig when the page is rendered
            var paginate_server_side = {{ paginate_server_side | default("false") }};
            var primary_group = "{{ primary_group_name | default(null) }}";
            var table_id = "table-users";
            
            $(document).ready(function() {
                
                // Callback for generating the AJAX url
                function ajaxGenerateUrlCallback(table, url) {
                    var table_state = getTableStateVars(table);
                    $.extend(table.config.pager.ajaxObject.data, table_state);
                    // Limit to a particular primary group
                    if (primary_group) {
                        table.config.pager.ajaxObject.data.primary_group = primary_group;
                    }
                    return url;
                }
            
                // Callback for processing data returned from API
                function ajaxProcessingCallback(data) {
                    var $table = $(this);
                    if (data) {
                        //console.log(data);
                        var col, row, txt,
                            // make # column show correct value
                            index = $('#' + table_id)[0].config.pager.page,
                            json = {},
                            rows = '';
                        size = data['rows'].length;
                        // Render table cells via Handlebars
                        var template_0 = Handlebars.compile($("#user-table-column-info").html());
                        var template_1 = Handlebars.compile($("#user-table-column-registered-since").html());
                        var template_2 = Handlebars.compile($("#user-table-column-last-sign-in").html());
                        var template_3 = Handlebars.compile($("#user-table-column-actions").html());
                        for (row = 0; row < size; row++){
                            rows += '<tr>';
                            var cell_data = {
                                "user" : data['rows'][ row ],       // It is safe to use the data from the API because Handlebars escapes HTML
                                "site" : site
                            };
                            rows += template_0(cell_data);
                            rows += template_1(cell_data);
                            rows += template_2(cell_data);
                            rows += template_3(cell_data);
                            rows += '</tr>';
                        }
                        json.total = data['count'];  // Get total rows without pagination
                        json.filteredRows = data['count_filtered']; // no filtering
                        json.rows = $(rows);
                        return json;
                    }
                }  
                
                function ajaxSetupCallback() {
                    if (paginate_server_side) {
                        var ajax_pager_options = {
                            ajaxUrl: site['uri']['public'] + "/api/users?",
                            // Generate the URL for the AJAX request, with the relevant parameters
                            customAjaxUrl: ajaxGenerateUrlCallback,
                            ajaxObject: {
                                data: {
                                    // rows   : size, // this doesn't work because size can't be updated dynamically 
                                }
                            },
                            ajaxProcessing: ajaxProcessingCallback              
                        };
                        return ajax_pager_options;
                    } else {
                        return {};
                    }
                }
                
                function pagerCompleteCallback() {
                    // Link row buttons
                    if (paginate_server_side) {
                        bindUserTableButtons($('#' + table_id));
                    }
                    // Link CSV download button
                    $("#table-users-download").on("click", function (){
                        var state = getTableStateVars($('#' + table_id)[0]);
                        state['format'] = "csv";
                        delete state['page'];
                        delete state['size'];
                        if (primary_group)
                            state['primary_group'] = primary_group;       
                        var url = site['uri']['public'] + "/api/users?" + $.param( state );
                        window.location = url;
                    });
                }
                
                ufTable('table-users', ajaxSetupCallback, pagerCompleteCallback);
            });
        </script>
    
{% endblock %}

