<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}
  
<body>
    <div id="wrapper">
        {% include 'components/nav-account.html' %}
        <div id="page-wrapper">
            {% include 'components/alerts.html' %}
            <div class="row">
                <div class="col-lg-6">
                    <div class='panel panel-primary'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'><i class='fa fa-gear'></i> Account Settings</h3>
                        </div>
                        <div class='panel-body'>
                            <form class='form-horizontal' role='form' name='settings' action='{{site.uri.public}}/account/settings' method='post'>
                                {% include 'common/components/csrf.html' %}
                                <!-- Prevent browsers from trying to autofill the password field.  See http://stackoverflow.com/a/23234498/2970321 -->
                                <input type="text" style="display:none">
                                <input type="password" style="display:none">
                                
                                {% if checkAccess('update_account_setting', {('user'): user, ('property'): 'email'}) %}
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Email Address</label>
                                    <div class="col-sm-8">
                                        <input type='text' class="form-control" name="email" value='{{user.email}}'>
                                        <p class="help-block">Your email address.</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% if checkAccess('update_account_setting', {('user'): user, ('property'): 'display_name'}) %}
                                <div class="form-group">
                                    <label for="input_display_name" class="col-sm-4 control-label">Display Name</label>
                                    <div class="col-sm-8">
                                        <input type='text' id="input_display_name" class="form-control" name="display_name" value='{{user.display_name}}'>
                                        <p class="help-block">The name that will be displayed to other users of this site.</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% if checkAccess('update_account_setting', {('user'): user, ('property'): 'locale'}) %}
                                <div class="form-group">
                                    <label for="input_locale" class="col-sm-4 control-label">Locale</label>
                                    <div class="col-sm-8">
                                        <select id="input_locale" class='form-control select2' name="locale">
                                            {% for option, label in locales %}
                                            <option value="{{option}}" {% if (option == user.locale) %}selected{% endif %}>{{label}}</option>
                                            {% endfor %}
                                        </select>
                                        <p class="help-block">The language and locale to use for your account.</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% if checkAccess('update_account_setting', {('user'): user, ('property'): 'password'}) %}
                                <div class="form-group">
                                    <label for="input_password" class="col-sm-4 control-label">New Password</label>
                                    <div class="col-sm-8">
                                        <input type='password' id="input_password" class="form-control" name="password" placeholder="8-50 characters">
                                        <p class="help-block">Optional.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input_passwordc" class="col-sm-4 control-label">Confirm New Password</label>
                                    <div class="col-sm-8">
                                        <input type='password' id="input_passwordc" class="form-control" name="passwordc" placeholder="8-50 characters">
                                        <p class="help-block">Required only if selecting a new password.</p>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="input_passwordcheck" class="col-sm-4 control-label">Current Password</label>
                                    <div class="col-sm-8">
                                        <input type='password' id="input_passwordcheck" class="form-control" name="passwordcheck" placeholder="You must confirm your current password to make changes.">
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-success text-center">Update Settings</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'components/footer.html' %}    
        </div>
    </div>
    
<script>
    $(document).ready(function() { 
      // Process form 
      $("form[name='settings']").formValidation({
        framework: 'bootstrap',
        // Feedback icons
        icon: {
            valid: 'fa fa-check',
            invalid: 'fa fa-times',
            validating: 'fa fa-refresh'
        },
        fields: {{ validators | raw }}
      }).on('success.form.fv', function(e) {
        // Prevent double form submission
        e.preventDefault();

        // Get the form instance
        var form = $(e.target);

        // Serialize and post to the backend script in ajax mode
        var serializedData = form.find('input, textarea, select').not(':checkbox').serialize();
        // Get unchecked checkbox values, set them to 0
        form.find('input[type=checkbox]').each(function() {
            if ($(this).is(':checked'))
                serializedData += "&" + encodeURIComponent(this.name) + "=1";
            else
                serializedData += "&" + encodeURIComponent(this.name) + "=0";
        });

        var url = form.attr('action');
        return $.ajax({  
          type: "POST",  
          url: url,  
          data: serializedData       
        }).done(function(data, statusText, jqXHR) {
            // Reload the page
            window.location.reload();
        }).fail(function(jqXHR) {
            if (site['debug'] == true) {
                document.body.innerHTML = jqXHR.responseText;
            } else {
                console.log("Error (" + jqXHR.status + "): " + jqXHR.responseText );
            }
        }).always(function(data, statusText, jqXHR){
            // Display messages
            $('#userfrosting-alerts').flashAlerts().done(function() {
                // Re-enable submit button
                form.data('formValidation').disableSubmitButtons(false);
            });
        
        });
      });

    });
    /*
     * end site settings form submit
     */
</script>
</body>
</html>

