{% set page_group = "group" %}
<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}
  
<body>
    <div id="wrapper">
        {% include 'components/nav-account.html' %}
        <div id="page-wrapper">
            {% include 'components/alerts.html' %}
            <div class="row">
                <div class="col-md-12">
                <div class='panel panel-primary'>
                <div class='panel-heading'>
                    <h3 class='panel-title'><i class='fa fa-users'></i> Groups</h3>
                </div>
                <div class='panel-body'>
                    <div class="table-responsive">
                        <table class="tablesorter table table-bordered table-hover table-striped tablesorter-bootstrap" data-sortlist="[[0, 0]]">
                            <thead>
                                <tr>
                                    <th class="sorter-metatext">Group Name <i class="fa fa-sort"></i></th>
                                    <th class="sorter-metatext">Landing Page <i class="fa fa-sort"></i></th>
                                    <th class="sorter-metatext">New User Title <i class="fa fa-sort"></i></th>
                                    <th class="sorter-metatext">Theme <i class="fa fa-sort"></i></th>
                                    <th>Actions <i class="fa fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in groups %}
                                <tr>
                                    <td data-text="{{group.name}}">
                                        <strong>
                                            <i class="{{group.icon}} fa-fw"></i> {{group.name}}
                                        </strong>
                                        <div>
                                            {% if group.is_default == "2" %}
                                                <i>Default Primary Group</i>
                                            {% elseif group.is_default == "1" %}
                                                <i>Default Group</i>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>
                                        {{group.landing_page}}
                                    </td>
                                    <td>
                                        {{group.new_user_title}}
                                    </td>
                                    <td>
                                        {{group.theme}}
                                    </td>                                    
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                Actions
                                                <span class="caret"></span>
                                            </button>            
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#" data-id="{{group.id}}" class="js-group-edit" data-target="#dialog-group-edit" data-toggle="modal">
                                                    <i class="fa fa-edit"></i> Edit group
                                                    </a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="#" data-id="{{group.id}}">
                                                    <i class="fa fa-key"></i> Authorization rules
                                                    </a>
                                                </li>
                                                <li>
                                                {% if group.can_delete == 1 %}
                                                    <a href="#" data-id="{{group.id}}" class="js-group-delete" data-name="{{group.name}}" data-target="#dialog-group-delete" data-toggle="modal">
                                                    <i class="fa fa-trash-o"></i> Delete group
                                                    </a>
                                                {% endif %}
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="pager pager-lg tablesorter-pager">
                            <span class='pager-control first' title='First page'><i class='fa fa-angle-double-left'></i></span>
                            <span class='pager-control prev' title='Previous page'><i class='fa fa-angle-left'></i></span>
                            <span class='pagedisplay'></span> <!-- this can be any element, including an input -->
                            <span class='pager-control next' title='Next page'><i class='fa fa-angle-right'></i></span>
                            <span class='pager-control last' title= 'Last page'><i class='fa fa-angle-double-right'></i></span>
                            <br><br>
                            Jump to Page: <select class='gotoPage'></select>
                            &bull; Show: <select class='pagesize'>
                                <option value='2'>2</option>
                                <option value='5'>5</option>
                                <option value='10'>10</option>
                                <option value='100'>100</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <button type="button" class="btn btn-success js-group-create" data-toggle="modal" data-target="#dialog-group-create">
                                <i class="fa fa-plus-square"></i>  Create New Group
                            </button>
                        </div>
                        <div class="col-md-6 text-right ">
                            <a href="#">View All Groups <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            {% include 'components/footer.html' %}    
        </div>
    </div>
</body>
</html>

