<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}
  
<body>
    <div id="wrapper">
        {% include 'components/nav-account.html' %}
        <div id="page-wrapper">
            {% include 'components/alerts.html' %}
            <div class="row">
                <div class="col-md-8">
                <div class='panel panel-primary'>
                <div class='panel-heading'>
                    <h3 class='panel-title'><i class='fa fa-globe'></i> Site Settings</h3>
                </div>
                <div class='panel-body'>
                    <div id="settings-alerts">
                        <div class='alert alert-success'>All settings have been saved</div>
                    </div>
                    <form class='form-horizontal' role='form' name='settings' action='{{site.uri.public}}/config/settings' method='post'>
                        {% include 'common/components/csrf.html' %}
                        {% for plugin_name, plugin in settings %}
                            {% for name, setting in plugin %} 
                                <div class="form-group">
                                    <label for="input_{{name}}" class="col-sm-2 control-label">{{setting.label}}</label>
                                    <div class="col-sm-10">
                                        {% if (setting.type == 'text') %}
                                            <input type='text' id="input_{{name}}" class="form-control" name="{{plugin_name}}[{{name}}]" value='{{setting.value}}' style="width: 50%;"/>
                                        {% elseif (setting.type == 'select') %}
                                            <select id="input_{{name}}" class='form-control select2' name="{{plugin_name}}[{{name}}]">
                                                {% for option, label in setting.options %}
                                                <option value="{{option}}" {% if (option == setting.value) %}selected{% endif %}>{{label}}</option>
                                                {% endfor %}
                                            </select>
                                        {% elseif (setting.type == 'toggle') %}
                                            <input type='checkbox' id="input_{{name}}" class="form-control bootstrapswitch" name="{{plugin_name}}[{{name}}]" value="{{setting.value}}" data-off-text="{{setting.options[0]}}" data-on-text="{{setting.options[1]}}" {% if (setting.value == 1) %}checked{% endif %}>
                                        {% elseif (setting.type == 'readonly') %}
                                            <input type='input' id="input_{{name}}" class="form-control bootstrap-switch" name="{{plugin_name}}[{{name}}]" value='{{setting.value}}' disabled">                                  
                                        {% endif %}
                                        <p class="help-block">{{setting.description}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </form>
                </div>
                </div>
                </div>
                <div class="col-md-4">
                    <div class='panel panel-primary'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'><i class='fa fa-server'></i> System Information</h3>
                        </div>
                        <div class='panel-body'>
                            {% for name, value in info %}
                                <p class="h6">{{name}}</p>                  
                                <div class="well well-sm">
                                    {{value}}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-link" href="{{site.uri.public}}/phpinfo">View phpinfo</a>
                            <a class="btn btn-link" href="{{site.uri.public}}/sliminfo">View Slim Info</a>
                        </div>
                    </div>
                    <div class='panel panel-primary'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'><i class='fa fa-wrench'></i> Admin Tools</h3>
                        </div>
                        <div class='panel-body'>
                            <p>
                                Rebuild minified CSS and JS: <a class="btn btn-primary" href="{{site.uri.public}}/config/build">Rebuild</a>
                            </p>
                            <p class="help-block">This may take some time, please be patient and wait for the page to refresh.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class='panel panel-primary'>
                        <div class='panel-heading'>
                            <h3 class='panel-title'><i class='fa fa-warning'></i> Error Log</h3>
                        </div>
                        <div class='panel-body'>
                            <div class="well well-sm"><strong>{{error_log.path}}</strong></div>
                            {% for msg in error_log.messages %}
                                <code>{{msg}}</code><br>                         
                            {% endfor %}
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-link" href="{{site.uri.public}}/errorlog">View complete error log</a>
                        </div>                        
                    </div>
                </div>
            </div>
            {% include 'components/footer.html' %}    
        </div>
    </div>
    
<script>
    $(document).ready(function() {                   
        var timer;
        
        // Autosave text fields
        $("form[name='settings'] input[type=text]").keyup(function () {
            clearTimeout(timer); // Clear the timer so we don't end up with dupes.
            $("#settings-alerts").html("<div class='alert alert-warning'>Saving...</div>");
            timer = setTimeout(function() { // assign timer a new timeout 
                $("form[name='settings']").submit()
            }, 700);
        });
        
        // Autosave switches and selects
        $("form[name='settings'] input[type=checkbox]").on("change", function () {
            $("#settings-alerts").html("<div class='alert alert-warning'>Saving...</div>");
            $("form[name='settings']").submit()
        });
        
        $("form[name='settings'] select").on("change", function () {
            $("#settings-alerts").html("<div class='alert alert-warning'>Saving...</div>");
            $("form[name='settings']").submit()
        });
        
              
      // Process form 
      $("form[name='settings']").formValidation({
        framework: 'bootstrap',
        // Feedback icons
        icon: {
            valid: 'fa fa-check',
            invalid: 'fa fa-times',
            validating: 'fa fa-refresh'
        },
        fields: { none: "none"}
      }).on('success.form.fv', function(e) {
        // Prevent double form submission
        e.preventDefault();

        // Get the form instance
        var form = $(e.target);

        // Serialize and post to the backend script in ajax mode
        var serializedData = form.find('input, textarea, select').not(':checkbox').serialize();
        // Get unchecked checkbox values, set them to 0
        form.find('input[type=checkbox]').each(function() {
            if ($(this).is(':checked'))
                serializedData += "&" + encodeURIComponent(this.name) + "=1";
            else
                serializedData += "&" + encodeURIComponent(this.name) + "=0";
        });

        var url = form.attr('action');
        return $.ajax({  
          type: "POST",  
          url: url,  
          data: serializedData       
        }).done(function(data, statusText, jqXHR) {
            $('#userfrosting-alerts').flashAlerts().done(function() {
                $("#settings-alerts").html("<div class='alert alert-success'>All settings have been saved</div>");
            });
        }).fail(function(jqXHR) {
            if (site['debug'] == true) {
                document.body.innerHTML = jqXHR.responseText;
            } else {
                console.log("Error (" + jqXHR.status + "): " + jqXHR.responseText );
                // Display errors on failure
                $('#userfrosting-alerts').flashAlerts().done(function() {
                    $("#settings-alerts").html("<div class='alert alert-danger'>Could not save settings.</div>");
                });
            }
        });
      });

    });
    /*
     * end site settings form submit
     */
</script>
</body>
</html>

