{% set page_group = "user" %}
<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}
  
<body>
    <div id="wrapper">
        {% include 'components/nav-account.html' %}
        <div id="page-wrapper">
            {% include 'components/alerts.html' %}
            <div class="row">
                <div class="col-lg-6">
                    {% include 'components/user-info-panel.html' %}
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            {% include 'components/footer.html' %}    
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <script>
    
    $(document).ready(function (){
        var box_id = "view-user";
        var user_id = {{target_user.id}};
        
        // Initialize select2's
        $('#' + box_id + ' .select2').select2("destroy");
        $('#' + box_id + ' .select2').select2();  
    
    	// Initialize bootstrap switches for user groups
		var switches = $('#' + box_id + ' .bootstrapswitch');
		switches.data('on-label', '<i class="fa fa-check"></i>');
		switches.data('off-label', '<i class="fa fa-times"></i>');
		switches.bootstrapSwitch('setSizeClass', 'switch-mini' );

		// Initialize primary group buttons
		$(".bootstrapradio").bootstrapradio();
		
        // TODO: forward to user listing page on deletion of user
        
        /*
		// Link buttons
		$('#' + box_id + ' .js-user-edit').click(function() { 
			userForm('dialog-user-edit', user_id);
		});

		$('#' + box_id + ' .js-user-activate').click(function() {    
			updateUserActiveStatus(user_id);
		});
		
		$('#' + box_id + ' .js-user-enable').click(function () {
			updateUserEnabledStatus(user_id, "1");
		});
		
		$('#' + box_id + ' .js-user-disable').click(function () {
			updateUserEnabledStatus(user_id, "0");
		});	
		
		$('#' + box_id + ' .js-user-delete').click(function() {
			var user_name = $(this).data('name');
			deleteUserDialog('delete-user-dialog', user_id, user_name);
			$('#dialog-user-delete').modal('show');
		});
        */
    });
    </script>
</body>  
</html>