<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}
  
<body>
    <div id="wrapper">
        {% include 'components/nav-account.html' %}
        <div id="page-wrapper">
            {% include 'components/alerts.html' %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Yerrrrraaaaaaayyyyyyy</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <i class="sc sc-zergling fa fa-5x"></i>
            <i class="sc sc-zergling fa fa-4x"></i>
            <i class="sc sc-zergling fa fa-3x"></i>
            <i class="sc sc-zergling fa fa-2x"></i>
            <i class="sc sc-zergling fa fa-lg"></i>
            <i class="sc sc-zergling fa"></i>
            <br>
            <i class="sc sc-hydralisk fa fa-5x"></i>
            <i class="sc sc-hydralisk fa fa-4x"></i>
            <i class="sc sc-hydralisk fa fa-3x"></i>
            <i class="sc sc-hydralisk fa fa-2x"></i>
            <i class="sc sc-hydralisk fa fa-lg"></i>
            <i class="sc sc-hydralisk fa"></i>            
            <br>
            <i class="sc sc-ultralisk fa fa-5x"></i>
            <i class="sc sc-ultralisk fa fa-4x"></i>
            <i class="sc sc-ultralisk fa fa-3x"></i>
            <i class="sc sc-ultralisk fa fa-2x"></i>
            <i class="sc sc-ultralisk fa fa-lg"></i>
            <i class="sc sc-ultralisk fa"></i>
            {% include 'components/footer.html' %}    
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>  
</html>