---
layout: new
title: "UserFrosting | Components"
---

<header class="breadcrumb-header">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{site.url}}/">Home</a></li>
            <li><a href="{{site.url}}/#get-started">Getting Started</a></li>            
            <li class="active">Components</li>
        </ol>
    </div>
</header>

<section id="components" class="content-page">
    <div class="users">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Users</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                
            </div>
        </div>
    </div>
</section>
