/**
 * Custom CSS for the ufCollection widget.
 */

/** Prevent rows from overflowing container */
.uf-collection-col-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.uf-collection span.select2-dropdown.select2-dropdown--below {
    position:absolute;
    top: -32px;
}
