<div class="footer-above">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-4">
                <p class="footer-lg">
                    <a href="https://pledgie.com/campaigns/29583" class="nav-highlight">
                        <i class="fa fa-heart fa-2x"></i><br>
                        Support UserFrosting!
                    </a>
                </p>
            </div>
            <div class="footer-col col-md-4">
                <p class="footer-lg">
                    <a href="https://twitter.com/UserFrosting">
                        <i class="fa fa-twitter fa-2x"></i><br>
                        Follow us on Twitter
                    </a>
                </p>
            </div>
            <div class="footer-col col-md-4">
                <p class="footer-lg">
                    <a href="https://github.com/userfrosting/UserFrosting">
                        <i class="fa fa-github-alt fa-2x"></i><br>
                        Star on Github
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% include 030/footer-page.html %}
