<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{site.url}}/">UserFrosting</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="{{site.url}}/#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="{{site.url}}/#features">Features</a>
                </li>
                <li class="page-scroll">
                    <a href="{{site.url}}/#get-started">Get Started</a>
                </li>
                <li class="page-scroll">
                    <a href="{{site.url}}/#help">Help</a>
                </li>
                <li class="page-scroll">
                    <a href="{{site.url}}/api/namespace-UserFrosting.html">API Docs</a>
                </li>
                <li class="page-scroll">
                    <a href="https://pledgie.com/campaigns/29583" class="nav-highlight">Donate</a>
                </li>
                <li>
                    <a href="https://twitter.com/UserFrosting"><i class="fa fa-twitter"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>