{% extends "layouts/modal.html.twig" %}

{% block modal_title %}Change User Password{% endblock %}

{% block modal_body %}
<form method="post" action="{{site.uri.public}}/api/users/u/{{user.id}}">
    <!-- Prevent browsers from trying to autofill the password field.  See http://stackoverflow.com/a/23234498/2970321 -->
    <input type="text" style="display:none">
    <input type="password" style="display:none">
    <div id="form-alerts">
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="radio">
                <label>
                  <input type="radio" name="change_password_mode" id="change_password_mode_link" value="link" checked>
                  <input type="hidden" name="flag_password_reset" value="1">
                  Send the user a link that will allow them to choose their own password
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="radio">
                <label>
                  <input type="radio" name="change_password_mode" id="change_password_mode_manual" value="manual">
                  Set the user's password as:
                </label>
            </div>
            <div class="row controls-password">
                <div class="col-sm-11 col-sm-offset-1">
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" name="password" autocomplete="off" value="" placeholder="8-50 characters">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" name="passwordc" autocomplete="off" value="" placeholder="Confirm password">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <div class="vert-pad">
                <button type="submit" class="btn btn-block btn-lg btn-success">
                    Submit
                </button>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <div class="vert-pad">
                <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
    {% include "components/page.js.twig" %}
</script>
{% endblock %}
