{% extends "layouts/table-responsive.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="[[0, 0]]">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="last_name">User/Info <i class="fa fa-sort"></i></th>
                {% if 'last_activity' in table.columns %}
                    <th class="sorter-metanum" data-column-name="last_activity">Last Activity <i class="fa fa-sort"></i></th>
                {% endif %}
                <th data-column-name="flag_enabled">Status/Actions <i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>
{% endblock %}
{% block button_create %}
    <button type="button" class="btn btn-success js-user-create" data-toggle="modal" data-target="#dialog-user-create">
        <i class="fa fa-plus-square"></i>  Create New User
    </button>
{% endblock %}
