<!DOCTYPE html>
<html lang="en">
  {% include 'pages/public/components/head.html' %}
  <body>
    <div class="container">
      {% include 'pages/public/components/main-nav.html' %}
      <div class="jumbotron">
        <h1>Reset Password</h1>
        {% if (confirm_ajax == 0) %}
        <p class="lead">
            Please enter your username and the email address you used to sign up.
            A link with instructions to reset your password will be emailed to you.
        </p>
        {% else %}
        <p class="lead">
            Please enter your username and your new password to continue.
        </p>
        {% endif %}
        <form class='form-horizontal' role='form' name='reset_password' action='api/user_reset_password.php' method='post'>
            <div class="row">
                <div id='display-alerts' class="col-lg-12">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <input type="text" class="form-control" placeholder="Username" name = "user_name">
                </div>
            </div>
            {% if (confirm_ajax == 0) %}
            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
            </div>
            {% else %}
            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <input type="password" class="form-control" placeholder="New Password" name = "password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <input type="password" class="form-control" placeholder="Password Confirm" name = "passwordc">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <input type="hidden" class="form-control" name = "token" value="{{token}}">
                </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success submit" value='Reset'>Reset Password</button>
                </div>
            </div>
        </form>
      </div>	
    </div> <!-- /container -->
    {% include 'pages/public/components/footer.html' %}	

</div> <!-- /container -->
<script>
    $(document).ready(function() {
        alertWidget('display-alerts');
        // Process form     
        $("form[name='reset_password']").formValidation({
          framework: 'bootstrap',
          // Feedback icons
          icon: {
              valid: 'fa fa-check',
              invalid: 'fa fa-times',
              validating: 'fa fa-refresh'
          },
          fields: {{validators | raw}}
        });
        $("form[name='reset_password']").submit(function(e){
            var form = $(this);
            // Serialize and post to the backend script in ajax mode
            var serializedData = form.serialize();
            serializedData += '&ajaxMode=true';     
            var url = APIPATH + 'user_reset_password.php';
            $.ajax({  
              type: "POST",  
              url: url,  
              data: serializedData
            }).done(function(result) {
                var resultJSON = processJSONResult(result);
                if (resultJSON['errors'] && resultJSON['errors'] > 0){
                  alertWidget('display-alerts');
                }
            });
        });
    });
</script>
</body>
</html>
