<!DOCTYPE html>
<html lang="en">
  {% include 'pages/public/components/head.html' %}
  <body>
    <div class="container">
        {% include 'pages/public/components/main-nav.html' %}
      <div class="jumbotron">
        <h1>Welcome to UserFrosting!</h1>
        <p class="lead">A secure, modern user management system based on UserCake, jQuery, and Bootstrap.</p>
        <div class="row">
            <div class="col-sm-12">
              <a href="{{userfrosting.uri.public}}/account/login" class="btn btn-success" role="button" value="Login">Login</a>
            </div>
        </div>
        {% include 'pages/public/components/jumbotron-links.html' %}	
      </div>	
    </div> <!-- /container -->
    {% include 'pages/public/components/footer.html' %}	
  </body>
</html>
