/* ==========================================================================
   Custom styling for table pager controls
   ========================================================================== */
   
.pager-lg {
    font-size: large;
}

.pager-control {
    font-size: x-large;
    padding: 4px 8px;
    cursor: pointer;
}
