/*!
 * Custom red theme for Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * 
 * CSS crunched with Crunch - http://crunchapp.net/
 */

body {
  background-color: #fff;
}

.navbar-userfrosting {
  color: #fff;
  background-color: #d9534f;
}

.navbar-userfrosting .navbar-header .navbar-brand {
  color: #fff;
}

.navbar-userfrosting .navbar-header .navbar-brand:hover,
.navbar-userfrosting .navbar-header .navbar-brand:focus {
  color: #ebebeb;
}

/**
 * .navbar-alert
 *
 * Styles for the message that appears in the top of the navbar next to the brand.
 */
.navbar-userfrosting .navbar-text.navbar-alert {
  display: none;
}

@media (min-width: 820px) {
  .navbar-userfrosting .navbar-text.navbar-alert {
    display: inline;
    font-weight: 800;
    font-size: 14px;
    margin-left: 100px;
    color: #fff;
  }
}

.navbar-userfrosting .navbar-toggle {
  border-color: #333333;
}

.navbar-userfrosting .navbar-toggle:hover,
.navbar-userfrosting .navbar-toggle:focus {
  background-color: #c0534f;
}

.navbar-userfrosting .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-userfrosting .navbar-top-links > li > a {
  color: #fff;
}

.navbar-userfrosting .navbar-top-links > li > a.active,
.navbar-userfrosting .navbar-top-links > li > a:hover,
.navbar-userfrosting .navbar-top-links > li > a:focus {
  background-color: #c0534f;
}

.navbar-userfrosting .nav > li.open > a {
  background-color: #c0534f;
}

.navbar-userfrosting .nav > li.open > a.active,
.navbar-userfrosting .nav > li.open > a:hover,
.navbar-userfrosting .nav > li.open > a:focus {
  background-color: #c0534f;
}

.navbar-userfrosting .navbar-top-links .dropdown-menu li {
  color: #000;
}

.navbar-userfrosting .navbar-top-links .dropdown-messages,
.navbar-userfrosting .navbar-top-links .dropdown-tasks,
.navbar-userfrosting .navbar-top-links .dropdown-alerts {
  color: #000;
}

@media (min-width: 768px) {
  .navbar-userfrosting .sidebar-wrapper {
    width: 250px;
    position: fixed;
    top: 50px;
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: #d9534f;
    overflow-y: auto;
  }
}

.navbar-userfrosting .sidebar ul {
  background-color: #d9534f;
}

.navbar-userfrosting .sidebar ul li {
  border-bottom: 1px solid #e76c74;
}

.navbar-userfrosting .sidebar ul li a {
  color: #fff;
}

.navbar-userfrosting .sidebar ul li a.active {
  background-color: #c0534f;
}

.navbar-userfrosting .sidebar ul li a:hover {
  background-color: #c0534f;
}

.navbar-userfrosting .sidebar ul li a:focus {
  background-color: #c0534f;
}

@media (min-width: 768px) {
  .navbar-userfrosting .sidebar {
    margin-top: 0px;
  }
}
