{% extends "layouts/azmind.html.twig" %}

{# Overrides blocks in head of base template #}
{% block page_title %}Reset Password{% endblock %}

{% block page_description %}Reset your UserFrosting password.{% endblock %}
    
{% block body_matter %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
            <h1>Reset Password</h1>
            <div class="description">
                <p>
                    Please enter the email address you used to sign up.<br>A link with instructions to reset your password will be emailed to you.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row register-form">
        <div class="col-sm-6 col-sm-offset-3">
            <form id="request-password-reset" role="form" action="{{site.uri.public}}/account/forgot-password" method="post" class="r-form">
                <div class="form-group">
                    <label class="sr-only" for="reset-form-email">Email</label>
                    <input type="text" name="email" placeholder="The email address you used to register" class="form-control" id="reset-form-email">
                </div>
                <button type="submit" class="btn">Email Password Reset Link</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "components/validators.js.twig" %}
    </script>
    
    <!-- Include page-specific JS bundle -->
    {{ assets.js('js/pages/forgot-password') | raw }}
    
{% endblock %}
