{% extends "layouts/azmind.html.twig" %}

{# Overrides blocks in head of base template #}
{% block page_title %}Reset Password{% endblock %}

{% block page_description %}Choose a new password for your account.{% endblock %}
    
{% block body_matter %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text">
            <h1>Reset Password</h1>
            <div class="description">
                <p>
                    Please choose a new password to continue.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row register-form">
        <div class="col-sm-6 col-sm-offset-3">
            {% include "components/alerts.html.twig" %}
            <form id="set-or-reset-password" role="form" action="{{site.uri.public}}/account/reset-password" method="post" class="r-form">
                {# Prevent browsers from trying to autofill the password field.  See http://stackoverflow.com/a/23234498/2970321 #}
                <input type="text" style="display:none">
                <input type="password" style="display:none">
                
                <div class="form-group">
                    <label class="sr-only" for="form-password">New Password</label>
                    <input type="password" name="password" placeholder="New password, 12-100 characters" class="form-control" id="form-password">
                </div>                
                
                <div class="form-group">
                    <label class="sr-only" for="form-passwordc">Re-enter new nassword</label>
                    <input type="password" name="passwordc" placeholder="Re-enter your new password" class="form-control" id="form-passwordc">
                </div>
                <input type="hidden" name="secret_token" value="{{secret_token}}">
                <button type="submit" class="btn">Set New Password and Sign In</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
    {% include "components/validators.js.twig" %}
    </script>
    
    <!-- Include page-specific JS bundle -->
    {{ assets.js('js/pages/set-or-reset-password') | raw }}
    
{% endblock %}
