{% block dashboard_navbar %}
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {% if current_user.isMaster() %}
                <li class="hidden-xs hidden-sm"><a href="#">{{ translate("HEADER_MESSAGE_ROOT") | upper }}</a></li>
            {% endif %}

            {# additional elements (e.g., menus, messages) before the user account drop down #}
            {% block dashboard_navbar_extra %} {% endblock %}

            {# User Account: style can be found in dropdown.less #}
            {% include "navigation/user-card.html.twig" %}
        </ul>
    </div>
{% endblock %}
