{% block sidebar_user %}
    {% include 'navigation/sidebar-user.html.twig' %}
{% endblock %}

{% block sidebar_menu %}
<ul class="sidebar-menu" data-widget="tree">
    <li class="header" style="text-transform: uppercase">{{translate('NAVIGATION')}}</li>
    {% include 'navigation/sidebar-menu.html.twig' %}
</ul>
{% endblock %}
