<!DOCTYPE html>
<html>

  {% include 030/head.html %}

    <body id="page-top" class="index">
        {% include 030/nav.html %}
        <div class="tease">
            Heads up!  This site will be replaced with the new site for v4 at any moment now.  Yes, right now!  The site for v3 will be migrated to http://v3.userfrosting.com.  Please check back in 30 minutes to an hour.
        </div>
        {{ content }}
          
        <!-- Footer -->
        <footer class="text-center">
            {% include 030/footer-main.html %}
        </footer>
    </body>
</html>