<!DOCTYPE html>
<html>

  {% include 030/head.html %}

    <body id="page-top" class="index">
    
        {% include 030/nav.html %}
        <div class="tease">
            Heads up!  These are the docs for UF3.  For UF4 (recommended), visit <a href="https://learn.userfrosting.com">https://learn.userfrosting.com</a>.
        </div>

        {{ content }}
          
        <!-- Footer -->
        <footer class="text-center">
            {% include 030/footer-page.html %}
        </footer>
    </body>
</html>