<!DOCTYPE html>
<html>

  {% include 022/head.html %}

    <body>

    {% include 022/header.html %}

    <div class="container">
      {{ content }}
      {% include 022/footer.html %}
    </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.url}}/0.2.2/jquery/jquery.min.js"></script>
    <script src="{{site.url}}/0.2.2/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>