{# Base layout for modals.
#}

{# Conditional block.  See http://stackoverflow.com/a/13806784/2970321 #}
{% set _modal_footer = block('modal_footer') %}

<div class="modal fade" role="dialog">
    <div class="modal-dialog {% block modal_size %}{% endblock %}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% block modal_title %}{% endblock %}</h4>
            </div>
            <div class="modal-body">
                <div class="alerts-modal">
                </div>
                {% block modal_body %}
                {% endblock %}
            </div>
            {% if _modal_footer is not empty %}
                <div class="modal-footer">
                    {{ _modal_footer | raw }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
