{# Base layout for modals.
#}

<div class="modal fade" role="dialog">
    <div class="modal-dialog {% block modal_size %}{% endblock %}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% block modal_title %}{% endblock %}</h4>
            </div>
            <div class="modal-body">
                <div class="alerts-modal">
                </div>
                {% block modal_body %}
                {% endblock %}
            </div>
            {% if block('modal_footer') is defined %}
                <div class="modal-footer">
                    {{ block('modal_footer') | raw }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
