/**
 * Custom CSS for guest pages
 */

.navbar-inverse .navbar-nav > li > a.nav-highlight {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
  background-color: #f3c8ce;
}

.navbar-inverse .navbar-nav > li > a.nav-highlight:hover {
  color: #f3f2e4;
  background-color: #f3c8ce;
}
