.uf-collection .col-button {
  padding-top: 2px;  
}

.uf-collection .col-button-offset {
    margin-left: 4px;
    float:left;
    width: calc( 100% - 50px )
}
/*..col-button-offset { position:absolute; padding-left:34px; width:100%; padding-right:16px }*/

.uf-collection span.select2-dropdown.select2-dropdown--below {
    position:absolute;
    top: -32px;
}
