<table class='tablesorter table table-bordered table-hover table-striped tablesorter-bootstrap' data-sortlist='{{_initial_sort}}'>
    <thead>
    {{_table_header}}
    </thead>
    <tbody>
    {{_table_body}}
    </tbody>
</table>

<div class='pager pager-lg'>
    <span class='pager-control first' title='First page'><i class='fa fa-angle-double-left'></i></span>
    <span class='pager-control prev' title='Previous page'><i class='fa fa-angle-left'></i></span>
    <span class='pagedisplay'></span> <!-- this can be any element, including an input -->
    <span class='pager-control next' title='Next page'><i class='fa fa-angle-right'></i></span>
    <span class='pager-control last' title= 'Last page'><i class='fa fa-angle-double-right'></i></span>
    <br><br>
    Jump to Page: <select class='gotoPage'></select>
    &bull; Show: <select class='pagesize'>
        <option value='2'>2</option>
        <option value='5'>5</option>
        <option value='10'>10</option>
        <option value='100'>100</option>
    </select>
</div>